<div class="text-center">
    <ul class="pagination">
        <% var maxCount = Math.min(max, current + 10)%>
        <% if(current === 1) { %>
            <li class="disabled"><span>&laquo;</span></li>
        <% } else { %>
            <li><a href="?q=<%- q %>&pg=<%- current-1 %>">&laquo;</a></li>
        <% } %>
        <% for(var i = current; i < maxCount; i++){ %>
            <li><a href="?q=<%- q %>&pg=<%- i %>"><%- i %></a></li>
        <% } %>
        <% if(current === 1) { %>
            <li class="disabled"><span>&raquo;</span></li>
        <% } else { %>
            <li><a href="?q=<%- q %>&pg=<%- current+1 %>">&raquo;</a></li>
        <% } %>
    </ul>
</div>